
{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>MOUNTAIN DECODE</title>
    <meta name="viewport" content="width=1024">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bad+Script&display=swap" rel="stylesheet">
    {% block css %}{% endblock %}
</head>

<body>
    <nav>
        <ul style="list-style:none">
            <li><a href="{% url 'blog:index' %}">TOP</a></li>
            <li><a href="{% url 'blog:about' %}">about</a></li>
            <li class="last_list"><a href="">contact</a></li>
        </ul>
    </nav>
    <header>
        <a href="{% url 'blog:index' %}">
            <p>MOUNTAIN DECODE</p>
            <p class="sub_title">UL.Hike & Climb</p>
        </a>
    </header>
    <section>
        {% block content %}{% endblock %}
    </section>

    <div>
        {% block pagination %}{% endblock %}
    </div>

    <footer>© MOUNTAIN DECODE 2020</footer>
</body>
</html>