
{% extends 'blog/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}

{% block content %}
    <article class="detail_article">
        {% if post.photo %}
            <img src="{{ post.photo.url }}" id="detail_pic">
        {% endif %}
        <h1>{{post.title}}</h1>
        <time class="time">{{post.create_at|date:"Y.n.j H:i"}}</time>

        {% if post.text %}
            <p class="text">{{post.text | safe}}</p>
        {% endif %}
    </article>
    <a href="{% url 'blog:index' %}" class="back"> << Back To TOP </a>
{% endblock %}