
{% extends 'blog/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    {% for post in object_list %}
        <article>
            <a href="{% url 'blog:detail' post.pk %}">
                {% if post.photo %}<figure><img src="{{ post.photo.url }}"></figure>{% endif %}
            </a>
            <h3 id="top_title">{{ post.title }}</h3>
            <p><time>{{ post.create_at|date:"Y.n.j"}}</time></p>
        </article>
    {% endfor %}
{% endblock %}