
{% extends 'blog/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    {% for post in object_list %}
        <article>
            <a href="{% url 'blog:detail' post.pk %}">
                {% if post.photo %}<figure><img src="{{ post.photo.url }}"></figure>{% endif %}
                <h3>{{ post.title }}</h3>
            </a>
            <p><time>{{ post.create_at|date:"Y.n.j H:i"}}</time></p>
        </article>
    {% endfor %}
{% endblock %}