
{% extends 'blog/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    {% for post in object_list %}
        <article>
            <a href="{% url 'blog:detail' post.pk %}">
                {% if post.photo %}<img src="{{ post.photo.url }}">{% endif %}
            </a>
            <h2 id="contents_title">{{ post.title }}</h2>
            <time>{{ post.create_at|date:"Y.n.j"}}</time>
        </article>
    {% endfor %}

    <section>
    {% include "blog/sidebar.html" %}
    </section>
{% endblock %}

{% block pagination %}
    {% include "blog/pagination.html" %}
{% endblock %}