
@charset "utf-8";

/* 基本設定 */


* {
    margin: 0;
}

header {
    margin: auto;
    text-align: center;
    font-family: 'Bad Script', cursive;
    font-size: 50px;
}


img {
    width: 100%;
    height: auto;
}

a {
  text-decoration: none;
  color: black;
}

/* body */

body {
    width: 1024px;
    margin: auto;
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 300px auto auto 400px;
    font-family: 'Noto Serif JP', serif;
}

body > * {
    grid-column: 2/3;
}

.sub_title {
    font-size: 30px;
}

footer {
    margin: auto;
}